* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    list-style: none;
}

.app-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
}